In [1]:
my_tuple = (1,3,5)

print(my_tuple)

(1, 3, 5)

In [2]:
my_list = [2,3,1,4]

another_tuple = tuple(my_list)

another_tuple

(2, 3, 1, 4)

In [3]:
another_tuple[2]     # You can index into tuples

1

In [4]:
another_tuple[2:4]   # You can slice tuples

(1, 4)

In [5]:
# You can use common sequence functions on tuples:

print( len(another_tuple))   
print( min(another_tuple))  
print( max(another_tuple))  
print( sum(another_tuple))

4
1
4
10

In [6]:
another_tuple.append(1)    # You can't append to a tuple

AttributeError: 'tuple' object has no attribute 'append'

In [7]:
del another_tuple[1]      # You can't delete from a tuple

TypeError: 'tuple' object doesn't support item deletion

In [8]:
sorted(another_tuple)

[1, 2, 3, 4]

In [9]:
list1 = [1,2,3]

tuple1 = ("Tuples are Immutable", list1)

In [10]:
print(tuple1)

('Tuples are Immutable', [1, 2, 3])

In [11]:

tuple2 = tuple1[:]                       # Make a shallow copy

In [12]:
print(tuple2)

('Tuples are Immutable', [1, 2, 3])

In [13]:
list1.append("But lists are mutable")

print( tuple2 )                          # Print the copy

('Tuples are Immutable', [1, 2, 3, 'But lists are mutable'])

In [14]:
import copy

list1 = [1,2,3]

tuple1 = ("Tuples are Immutable", list1)

tuple2 = copy.deepcopy(tuple1)           # Make a deep copy

list1.append("But lists are mutable")

print( tuple2 )                          # Print the copy

('Tuples are Immutable', [1, 2, 3])

In [15]:
####     Strings 
my_string = "Hello world"

my_string[3]    # Get the character at index 3

'l'

In [16]:
my_string[3:]   # Slice from the third index to the end

'lo world'

In [17]:
my_string[::-1]  # Reverse the string

'dlrow olleH'

In [18]:
len(my_string)

11

In [19]:
my_string.count("l")  # Count the l's in the string

3

In [20]:
# str.lower()     

my_string.lower()   # Make all characters lowercase

'hello world'

In [21]:
# str.upper()     

my_string.upper()   # Make all characters uppercase

'HELLO WORLD'

In [22]:
# str.title()

my_string.title()   # Make the first letter of each word uppercase

'Hello World'

In [23]:
my_string.find("W")

-1

In [24]:
my_string.find("w")

6

In [25]:
my_string.replace("world",    # Substring to replace
                  "friend")   # New substring

'Hello friend'

In [26]:
my_string.split()     # str.split() splits on spaces by default

['Hello', 'world']

In [27]:
my_string.split("l")  # Supply a substring to split on other values

['He', '', 'o wor', 'd']

In [28]:
multiline_string = """I am
a multiline 
string!
"""

multiline_string.splitlines()

['I am', 'a multiline ', 'string!']

In [29]:
# str.strip() removes whitespace by default

"    strip white space!   ".strip()

'strip white space!'

In [30]:
"xXxxBuyNOWxxXx".strip("xX")

'BuyNOW'

In [31]:
"Hello " + "World"

'Hello World'

In [32]:
" ".join(["Hello", "World!", "Join", "Me!"])


# https://www.kaggle.com/hamelg/python-for-data-6-tuples-and-strings

'Hello World! Join Me!'

In [33]:
name = "Joe"
age = 10
city = "Paris"

"My name is " + name + " I am " + str(age) + " and I live in " + "Paris"

'My name is Joe I am 10 and I live in Paris'

In [34]:
template_string = "My name is {} I am {} and I live in {}"

template_string.format(name, age, city)

'My name is Joe I am 10 and I live in Paris'

In [35]:
# Remaking the example above using an f-string

f"My name is {name} I am {age} and I live in {city}"

'My name is Joe I am 10 and I live in Paris'

In [37]:
#   Python for Data 7: Dictionaries and Sets

my_list = [1,2,3,4,5,6,7,8,9,10]

0 in my_list

False

In [38]:
# Dictionaries
# A dictionary or dict is an object that maps a set of named indexes called keys to a set of corresponding values.
#Dictionaries are mutable, so you can add and remove keys and their associated values. 
#A dictionary's keys must be immutable objects,
# such as ints, strings or tuples, but the values can be anything.


my_dict = {"name": "Joe",
           "age": 10, 
           "city": "Paris"}

print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris'}

In [39]:
my_dict["name"]

'Joe'

In [40]:
my_dict["new_key"] = "new_value"

print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris', 'new_key': 'new_value'}

In [41]:
del my_dict["new_key"]

print(my_dict)

{'name': 'Joe', 'age': 10, 'city': 'Paris'}

In [42]:
len(my_dict)

3

In [43]:
"name" in my_dict

True

In [44]:
my_dict.keys()

dict_keys(['name', 'age', 'city'])

In [45]:
my_dict.values()

dict_values(['Joe', 10, 'Paris'])

In [46]:
my_dict.items()

dict_items([('name', 'Joe'), ('age', 10), ('city', 'Paris')])

In [47]:
my_table_dict = {"name": ["Joe", "Bob", "Harry"],
                 "age": [10,15,20] , 
                 "city": ["Paris", "New York", "Tokyo"]}

In [48]:
#    Sets


my_set = {1,2,3,4,5,6,7}

type(my_set)

set

In [49]:
my_set.add(8)

my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [50]:
my_set.remove(7)

my_set

{1, 2, 3, 4, 5, 6, 8}

In [51]:
6 in my_set

True

In [52]:
set1 = {1,3,5,6}
set2 = {1,2,3,4}

set1.union(set2)          # Get the union of two sets

{1, 2, 3, 4, 5, 6}

In [53]:
set1.intersection(set2)   # Get the intersection of two sets

{1, 3}

In [54]:
set1.difference(set2)     # Get the difference between two sets

{5, 6}

In [55]:
set1.issubset(set2)       # Check whether set1 is a subset of set2

False

In [56]:
my_list = [1,2,2,2,3,3,4,5,5,5,6]

set(my_list)

{1, 2, 3, 4, 5, 6}