In [1]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [2]:
for i in range(2,10):
    print(i)

2
3
4
5
6
7
8
9

In [3]:
for i in range(4,15,2):
    print(i)

4
6
8
10
12
14

In [4]:
sum =0
for i in range(4,20,3):
    sum = sum + i
    print('the total sum is '+str(sum))          # +str() must be put

the total sum is 4
the total sum is 11
the total sum is 21
the total sum is 34
the total sum is 50
the total sum is 69

In [5]:
for i in range(10):
    print(i)
    
else: 
    print('loop sucssful')

0
1
2
3
4
5
6
7
8
9
loop sucssful

In [31]:
for j in range(10):
    if j >3:
        break
    print(j)

0
1
2
3

In [33]:
for j in range(10):
    if j >3:
        break
        print(j)        #their is no output

In [6]:
for i in range(10):
    if i == 5:
        break       # this break
    print(i)
    
else: 
    print('loop sucssful')

0
1
2
3
4

In [7]:
for i in range(10):
    if i == 5:
        continue      # five is note included
    print(i)
    
else: 
    print('loop sucssful')

0
1
2
3
4
6
7
8
9
loop sucssful

In [8]:
for i in range(10):
    for j in range(5):
        print(i,j)

0 0
0 1
0 2
0 3
0 4
1 0
1 1
1 2
1 3
1 4
2 0
2 1
2 2
2 3
2 4
3 0
3 1
3 2
3 3
3 4
4 0
4 1
4 2
4 3
4 4
5 0
5 1
5 2
5 3
5 4
6 0
6 1
6 2
6 3
6 4
7 0
7 1
7 2
7 3
7 4
8 0
8 1
8 2
8 3
8 4
9 0
9 1
9 2
9 3
9 4

In [9]:
vehicles = 'CAR'

for letter in vehicles:
    print(letter)

C
A
R

In [16]:
flowers=["rose" , "cyclamen" , "daisy" , " tulip "]
for x in flowers :
    print(x)

rose
cyclamen
daisy
 tulip

In [10]:
vehicles = ['CAR','bus','trak']

for vehicles in vehicles:
    print(vehicles)

CAR
bus
trak

In [11]:
vehicles = ['CAR','bus','trak']

for vehicles in vehicles:
    if vehicles == 'bus':
                    break;
    print(vehicles)

CAR

In [12]:
i = 0
while i<5:
    print (i)
    i += 1

0
1
2
3
4

In [13]:
#i = 0
#while True:     #this will do the loop until infinity
   # print (i)
   # i += 1

In [14]:
i = 0
while True: 
    print (i)
    if i ==5:
        break
    i += 1

0
1
2
3
4
5

In [15]:
i = 0
while True: 
    print (i)
    i += 1
    if i ==5:
        break

0
1
2
3
4

In [20]:
from math import sqrt
numbers=[533,712,925]
for x in numbers:
    print( sqrt (x) )

23.08679276123039
26.68332812825267
30.4138126514911

In [22]:
a=3
for i in range(a ) :
    print( i )

0
1
2

In [25]:
flowers=['rose' ,'cyclamen', 'daisy' , 'tulip' ]
for i ,x in enumerate( flowers ) :
    print( i ,x)

0 rose
1 cyclamen
2 daisy
3 tulip

In [26]:
flowers=['rose' ,'cyclamen', 'daisy' , 'tulip' ]
for i ,x in enumerate(flowers ,15):
    print( i ,x)

15 rose
16 cyclamen
17 daisy
18 tulip

In [35]:
#  The continue Statement
for i in range (5):
    if i%2>0:
        continue
    print(i)

0
2
4

In [44]:
for letter in 'Python':     # First Example
    if letter == 'h':
        continue
    print ('Current Letter :', letter)

Current Letter : P
Current Letter : y
Current Letter : t
Current Letter : o
Current Letter : n

In [43]:
#the position is very important
for letter in 'Python':     # First Example
    if letter == 'h':
        continue
print ('Current Letter :', letter)

Current Letter : n